fastapi==0.115.2
uvicorn==0.31.1
pydantic==2.9.2
langchain==0.3.3
langchain-core==0.3.11
langchain-community==0.3.2
requests==2.32.3
beautifulsoup4==4.12.3
lxml==5.3.0
tweepy==4.15.0
textblob==0.18.0.post0
yfinance==0.2.54
python-dotenv==1.0.1
logging==5.3.0
langchain-groq==0.2.0
